{% load static %}
<!DOCTYPE html>
<!-- === Coding by CodingLab | www.codinglabweb.com === -->
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="{% static 'css/log_reg.css' %}">

    <!--========== FAV ICON ==========-->
    <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">
         
    <title>Login</title>
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <div class="form login">
                <span class="title">Login</span>

                <form method="post" action="/dolog/">
                    {% csrf_token %}
                    <div class="input-field">
                        {{login.usuario}}
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        {{login.senha}}
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>

                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="logCheck">
                            <label for="logCheck" class="text">Lembrar de mim</label>
                        </div>
                        
                        <a href="#" class="text">Esqueceu a senha?</a>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Login">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Não possui uma conta?
                        <a href="#" class="text signup-link">Cadastre-se agora</a>
                    </span>
                </div>
            </div>

            <!-- Registration Form -->
            <div class="form signup">
                <span class="title">Cadastro</span>

                <form method="post" action="/docad/">
                    {% csrf_token %}
                    <div class="input-field">
                        {{register.nome}}
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        {{register.sobrenome}}
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        {{register.data_nasc}}
                        <i class="uil uil-calendar-alt"></i>
                    </div>
                    <div class="input-field">
                        {{register.usuario}}
                        <i class="uil uil-user"></i>
                    </div>
                    <div class="input-field">
                        {{register.email}}
                        <i class="uil uil-envelope icon"></i>
                    </div>
                    <div class="input-field">
                        {{register.senha}}
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" id="confirm_pass" class="password" placeholder="Confirme a senha" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="input-field">
                        {{register.num_telefone}}
                        <i class="uil uil-phone"></i>
                    </div>
                    
                    <div class="checkbox-text">
                        <div class="checkbox-content">
                            <input type="checkbox" id="termCon">
                            <label for="termCon" class="text">Aceito todos os termos e condições</label>
                        </div>
                    </div>

                    <div class="input-field button">
                        <input type="submit" value="Cadastrar">
                    </div>
                </form>

                <div class="login-signup">
                    <span class="text">Já possui um login?
                        <a href="#" class="text login-link">Logar agora</a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/log_reg.js' %}"></script>
</body>
</html>