{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/error.css' %}" />
    <title>Logout</title>
</head>
<body>
    <div class="error_area">
        <h1>SAINDO</h1>
        <h2>Você está sendo redirecionado para a página inicial...</h2>
    </div>
</body>
<script src="{% static 'scripts/logout.js' %}"></script>
</html>