{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="pt-br" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- ===== Iconscout CSS ===== -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

  <!-- Boxicons CSS -->
  <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>

  <link rel="icon" type="image/x-icon" href="{% static 'imgs/favicon.ico' %}">

  <title>Perfil</title>
</head>

<body>
  <div class="container">
    <div class="title">Atualizar perfil</div>
    <div class="content">
      <form method="post" action="/doupdate/">
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nome</span>
            {{perfil.nome}}
          </div>
          <div class="input-box">
            <span class="details">Sobrenome</span>
            {{perfil.sobrenome}}
          </div>
          <div class="input-box">
            <span class="details">Nome de usuário</span>
            {{perfil.usuario}}
          </div>
          <div class="input-box">
            <span class="details">E-mail</span>
            {{perfil.email}}
          </div>
          <div class="input-box">
            <span class="details">Senha</span>
            <div class="pass-shit">
              {{perfil.senha}}
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Confrimar senha</span>
            <div class="pass-shit">
              {{perfil.confirma_senha}}
              <i class="uil uil-eye-slash showHidePw"></i>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Número de telefone</span>
            {{perfil.num_telefone}}
          </div>
        </div>

        <div class="button">
          <input id="cad-button" type="submit" value="Atualizar">
        </div>
      </form>
    </div>
  </div>

</body>
<script type="text/javascript" src="{% static 'scripts/register.js' %}"></script>

</html>