{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <title>Perfil</title>
</head>
<body>
    <div class="register_area">
        <h1>PERFIL</h1>
        <form class="register_form" method="post" action="/doupdate/">
            {% csrf_token %}
            <div class="nothing">Nome: {{perfil.nome}}</div><br>
            <div class="nothing">Sobrenome: {{perfil.sobrenome}}</div><br>
            <div class="nothing">Nome de usuario: {{perfil.usuario}}</div><br>
            <div class="nothing">Senha: {{perfil.senha}}</div><br>
            <div class="nothing">Email: {{perfil.email}}</div><br>
            <div class="nothing">Número de telefone: {{perfil.num_telefone}}</div><br>
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
<script src="{% static 'scripts/register.js' %}"></script>
</html>