{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/error.css' %}" />
    <title>Cadastro</title>
</head>
<body>
    <div class="error_area">
        <div class="title">Cadastro</div>
        <h2>Nome de usuário já existe</h2>
        <p>Você está sendo redirecionado para a página de registro...</p>
    </div>
</body>
<script src="{% static 'scripts/error.js' %}"></script>
</html>