{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sucess.css' %}" />
    <title>Cadastro</title>
</head>
<body>
    <div class="sucess_area">
        <h1>CADASTRO</h1>
        <h2>Cadastro realizado com sucesso!</h2>
        <p>Você está sendo redirecionado para a página de login...</p>
    </div>
</body>
<script src="{% static 'scripts/sucess.js' %}"></script>
</html>