{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <title>Cadastrar</title>
</head>
<body>
    <div class="register_area">
        <h1>CADASTRO</h1>
        <form class="register_form" method="post" action="/docad/">
            {% csrf_token %}
            <div class="form-group mt-4">Usuario: {{form.usuario}}</div><br>
            <div class="form-group mt-4">Senha: {{form.senha}}</div><br>
            <div class="form-group mt-4">Primerio Nome: {{form.nome}}</div><br>
            <div class="form-group mt-4">Ultimo Nome: {{form.ultimo_nome}}</div><br>
            <button type="submit">Cadastrar</button>
        </form>
    </div>
</body>
</html>